@media(min-width: 768px) {
    .message_user {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 1.5rem;
        padding: 1rem 3rem; 
    }

    .message_user__username {
        font-size: 1rem;
        color: #1A73E8;
        font-weight: 300;
        padding-bottom: 1rem;
    }

    .message_user__text {
        font-size: 1rem;
        color: #000000;
        font-weight: 300;
    }

    .message_employee {
        background-color: #1A73E8;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 1.5rem;
        padding: 1rem 3rem; 
    }

    .message_employee__name {
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 300;
        padding-bottom: 1rem;
    }

    .message_employee__text {
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 300;
    }
}

@media(max-width: 767px) {
    .message_user {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem; 
    }

    .message_user__username {
        font-size: 0.75rem;
        color: #1A73E8;
        font-weight: 300;
        padding-bottom: 0.5rem;
    }

    .message_user__text {
        font-size: 0.75rem;
        color: #000000;
        font-weight: 300;
    }

    .message_employee {
        background-color: #1A73E8;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem; 
    }

    .message_employee__name {
        font-size: 0.75rem;
        color: #FFFFFF;
        font-weight: 300;
        padding-bottom: 0.5rem;
    }

    .message_employee__text {
        font-size: 0.75rem;
        color: #FFFFFF;
        font-weight: 300;
    }
}