@media(min-width: 768px) {
    .white_btn {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 10rem;
        background-color: #F7F7F7;
        text-decoration: none;
        color: #000000;
        transition: 0.4s;
    }
    .white_btn__text {
        margin: 0;
        padding: 1rem 2.5rem; 
        color: #000000;
        font-size: 1.5rem;
    }

    .white_btn:hover {
        cursor: pointer;
        background-color: #dadada;
    }
}


@media(max-width: 767px) {
    .white_btn {
        border: none;
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        justify-content: center;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 10rem;
        background-color: #F7F7F7;
        text-decoration: none;
        color: #000000;
    }
    .white_btn__text {
        padding: 0.5rem 1rem; 
        color: #000000;
        font-size: 0.75rem;
    }
}