
@media(max-width: 768px) {
    .advantage {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 1rem;
        min-height: auto;
        background-color: rgba(32, 30, 30, 0.2);
        backdrop-filter: blur(2rem);
        -webkit-backdrop-filter: blur(2rem);
        overflow: hidden;
        margin: 0.5rem 1.5rem;
    }

    .advantage__header {
        padding: 1.5rem 3.5rem 0rem 2rem; 
        font-weight: 700;
        font-size: 1rem;
    }

    .advantage__text {
        padding: 0.5rem 1.5rem 1.5rem 1.5rem;
        font-weight: 400;
        font-size: 0.5rem;
    }
}