
@media(max-width: 768px) {
    
    .input__container {
        font-family: 'JetBrains Mono', monospace;
        display: flex;
        flex-direction: column;
    }

    .input__header {
        padding: 0.5rem;
        color: #000000;
        font-size: 1rem;
        font-weight: 500;
    }
    
    .input__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .input__field {
        border-radius: 0.5rem;
        border: none;
        width: 100%;
        height: 2rem; 
        padding: 0 2.5rem 0 0.75rem; 
        font-family: 'JetBrains Mono', monospace;
        font-size: 0.75rem; 
        display: flex;
        box-sizing: border-box;
        outline: none;
        align-items: center;
        background-color: #F7F7F7;
        color: #000000;
    }

    .show_pass_icn {
        position: absolute;
        background: none;
        border: none;
        padding: 0;
        right: 1rem;
        cursor: pointer;
        display: block;
        align-items: center;
        justify-content: center;
    }
}