

@media (max-width: 767px){
    .review__container{
        background-color: #151515;
        border: 1px solid #262626;
        border-radius: 1.25rem; 
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem 1rem 1.5rem; 
        font-family: 'JetBrains Mono', monospace;
    }

    .review__header {
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0; 
        max-width: 14rem;
        color: #FFFFFF; 
        font-weight: 700;
        font-size: 0.75rem;
    }

    .review__text {
        padding-top: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(255,255,255,0.7);
        margin: 0;
        font-size: 0.5rem;
        font-weight: 300;
        padding-bottom: 0.5rem;
    }

    .review__create_time {
        font-size: 0.5rem;
        color: #FFFFFF;
        margin: 0;
        font-weight: 200;
    }

    .head_status__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
    }

    .review__postTitle_wrapper {
        display: flex;
        justify-content: сolumn;
    }

}