@media(min-width: 768px){
    .auth_section {
        width: 40vw;
        min-width: 600px;
        padding: 5rem 5rem;
        margin-left: auto;
        background-color: rgba(55,55,55,0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'JetBrains Mono', monospace;
    }

    .auth_section__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .auth_section__header {
        font-size: 2rem;
        color: #F7F7F7;
        font-weight: 700;
    }

    .auth_section__logo {
        color: #F7F7F7;
        background: none;
        margin: 0;
        border: none;
        height: 30px;
        width: auto;
    }

    .auth_section__content { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media(max-width: 767px) {
    .auth_section {
        margin: 1.5rem 2.5rem;
        padding: 1.5rem 1rem;
        background-color: rgba(55,55,55,0.2);
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'JetBrains Mono', monospace;
    }

    .auth_section__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .auth_section__header {
        padding-left: 0.75rem;
        font-size: 1rem;
        color: #F7F7F7;
        font-weight: 700;
    }

    .auth_section__logo {
        color: #F7F7F7;
        background: none;
        margin: 0;
        border: none;
        height: 30px;
        width: auto;
        padding-right: 0.75rem;
    }

    .auth_section__content { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}